bottle==0.13.4
mutagen==1.48.1
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pillow==12.3.0
proxy_tools==0.1.0
pygame==2.6.1
PyQt6==6.11.0
PyQt6-Qt6==6.11.2
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.2
PyQt6_sip==13.12.0
python-dateutil==2.9.0.post0
pywebview==6.2.1
QtPy==2.4.3
scikit-learn==1.9.0
sentence-transformers==6.0.1
six==1.17.0
torch==2.13.0
typing_extensions==4.16.0